.single-portfolio-image {
  @include at-breakpoint($wide-mobile) {
    @include span-columns(3,6);
  }
  @include at-breakpoint($tablet) {
    @include span-columns(6,10);
  }
  @include at-breakpoint($desktop) {
    @include span-columns(6,12);
  }
}

.single-portfolio-info {
  @include at-breakpoint($wide-mobile) {
    @include span-columns(3 omega,6);
  }
  @include at-breakpoint($tablet) {
    @include span-columns(4 omega,10);
  }
  @include at-breakpoint($desktop) {
    @include span-columns(6 omega,12);
    margin-top: 50px;
  }
}

.portolio-item-label {
  display: inline-block;
  width: 120px;
  .project-details & {
    width: auto;
    border-bottom: 2px solid $grey;
    margin: 15px 0;
  }
}
